<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <li><a href="{{ path('app_home', {_locale: 'fr' }) }}" data-turbo="false"><img src="{{ asset('images/french_flag.png') }}" alt="french flag" width=32 height=32></a></li>
            <li><a href="{{ path('app_home', {_locale: 'en' }) }}" data-turbo="false"><img src="{{ asset('images/english_flag.png') }}" alt="english flag" width=32 height=32></a></li>
            <li><a href="{{ path('app_home', {_locale: 'it' }) }}" data-turbo="false"><img src="{{ asset('images/italian_flag.png') }}" alt="italian flag" width=32 height=32></a></li>
            <li><a href="{{ path('app_home', {_locale: 'es' }) }}" data-turbo="false"><img src="{{ asset('images/spanish_flag.png') }}" alt="spanish flag" width=32 height=32></a></li>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
